body{
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    color:#0A143A;
}

.header{
    padding-top: 30px;
    max-width: 1146px;
    margin:auto;
}

.navbar{

    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.navbar_menu{

    margin-right: auto;
    
}

.menu{
    list-style: none;
    margin: 0;
    display: flex;
    padding-left: 22px;
    padding-right: 22px;

}

/*кроме последного  */
.menu_item:not(:last-child){
    margin-right: 14px;
}

.menu_link{
    text-decoration: none;
    color:inherit;
}

.button{
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.button_link{

    color:inherit;
   
}

.button_primery{
background-color:#256EEB;
color:#fff;
border-radius: 5px;

}

.search_panel{
    height: 50px;
    margin-bottom: 45px;
    background: #256EEB;
    border-radius: 5px;
    display: flex;;
    padding: 3px;
}

.search_input{
    flex-grow: 1;
    background-color: #fff;
    border-radius:5px;
    border:none;
    padding-left: 22px;
    padding-right: 22px;

}


.search_button{
background-color: #256EEB;
border:none;
color:#fff;
padding-left: 20px;
padding-right: 17px;
display: flex;
align-items: center;
}

.search_button_text{
    margin-left: 5px;
}

